[submodule "warnet"]
	path = warnet
	url = https://github.com/carlaKC/warnet
	branch = attackathon
[submodule "sim-ln"]
	path = sim-ln
	url = https://github.com/carlakc/sim-ln
	branch = attackathon
[submodule "circuitbreaker"]
	path = circuitbreaker
	url = https://github.com/carlakc/circuitbreaker
	branch = attackathon
[submodule "lrc"]
	path = lrc
	url = https://github.com/carlaKC/lrc
